// 画面左
%div.section-left
  %div.section-left-top
    %span.user-name=current_user.name
    =link_to "",new_group_path,class:"fa fa-cog"
    =link_to "",edit_user_path(current_user.id),class:"fa fa-pencil-square-o"
  // 所属しているグループを表示
  %div.section-left-bottom
    %ul.group-list
      -@user_groups.each do |user|
        %li=user.name

// 画面右
%div.section-right
  %div.section-right-top
    %h1 aaa
  %div.section-right-bottom
    %h1 aaa
  %div.sent-area
    = form_for @message do |f|
      = f.text_field :body,class:"chat-group-form__input",id:"chat_group_name"
