%div.section-left
  %div.section-left-top
    %span.user-name=current_user.name
    =link_to "",edit_user_path(current_user.id),class:"fa fa-cog fa-lg fa-spin"
    =link_to "",new_group_path,class:"fa fa-plus-square-o fa-lg"
  // 所属しているグループを表示
  %div.section-left-bottom
    %ul.group-list
      -@user.groups.each do |group|
        %li.select-group=link_to group.name,group_messages_path(group),class:"group-url"
        -if group.messages.length == 0
          %p.last-message まだメッセージはありません
        -else
          %p.last-message=group.messages.last.body
