//サイドバーをrender
=render 'sidebar'

// 画面右
%div.section-right
  %div.section-right-top
  %div.section-right-bottom#messagearea
  %div.sent-area
    %div.form-controll
      %input.message-form
      %i.fa.fa-picture-o.fa-lg
      %a.square_btn SENT
