// メイン画面CSS

// サイドバー
.section-left{
  width: 20%;
  height: 100%;
  float: left;
  &-top{  // サイドバー上部
    height: 20%;
    color: white;
    padding: 0 30px;
    background: #253141;
    .user-name{
      float: left;
      font-size: 20px;
      line-height: 100%;
    }
    .fa{
      float: right;
      line-height: 100%;
      margin-right: 5px;
      color: white;
      text-decoration: none;
    }
  }
  &-bottom{  // サイドバー下部
    height: 80%;
    overflow: scroll;
    background: #2f3e51;
    .group-list{
      height: 100%;
      padding: 0 5px;
      color: white;
      .group-url{
        height: 100%;
        width: 100%;
        display: block;
      }
      li{
        a{
          text-decoration: none;
          color: white;
        }
        a:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
.last-message{
  font-size: 10px;
  margin-bottom: 50px;
}

// 画面右
.section-right{
  width: 80%;
  height: 100%;
  float: right;
  &-top{  // 画面右上部
    height: 10%;
  }
  &-bottom{  // 画面右下部
    height: 90%;
    background: #f5f5f5;
  }
  // .sent-area{
  //   height: 20%;
  //   background: #AAAAAA;
  //   .form-controll{
  //     .message-form{
  //       width: 75%;
  //       margin: auto;
  //       margin: 25px 0 0 30px;
  //       padding: 15px;
  //       float: left;
  //       border-style: none;
  //     }
  //     .fa{
  //       margin-top: 25px;
  //       padding: 19px 5px;
  //       background-color: white;
  //       border-style: none;
  //     }
  //     .square_btn{
  //       float: right;
  //       display: inline-block;
  //       margin: 20px 30px 0 0;
  //       padding: 1em 1.8em;
  //       text-decoration: none;
  //       background: #668ad8;/*ボタン色*/ color: #FFF;
  //       border-bottom: solid 4px #627295;
  //       border-radius: 3px;
  //     }
  //     .square_btn:active {/*ボタンを押したとき*/ -ms-transform: translateY(4px);
  //       -webkit-transform: translateY(4px);
  //       transform: translateY(4px);/*下に動く*/ border-bottom: none;/*線を消す*/
  //     }
  //     }
  //   .chat-group-form__input {
  //     float: left;
  //     width: 100%;
  //     line-height: 30px;
  //     box-sizing: border-box;
  //
  //   }
  // }
}

//チャットグループ画面
.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;

  h1 {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .chat-group-form__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: #f05050;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  }

  .chat-group-form__field {
    margin-top: 30px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    .chat-group-form__field--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    .chat-group-form__field--right {
      float: right;
      width: 70%;
      #result{
        line-height: 50px;
        padding: 15px;
        li{
        border-bottom: 1px solid #dcdcdc;
        }
      }
    }

    .chat-group-form__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    .chat-group-form__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }

  .chat-group-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    .chat-group-user__name {
      float: left;
    }

    .chat-group-user__btn {
      float: right;
      display: inline-block;
      cursor: pointer;

      &.chat-group-user__btn--add {
        color: #38aef0;
      }

      &.chat-group-user__btn--remove {
        color: #f05050;
      }
    }
  }

  .chat-group-form__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
  }
  .chat-group-form__action-btn-delete{
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #ea5550;
    border: 0;
    text-decoration: none;
  }
}
