// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 画面左
.section-left{
  width: 20%;
  height: 100%;
  float: left;
  .section-left-top{
    height: 20%;
    color: white;
    padding: 0 30px;
    background: #253141;
    .user-name{
      float: left;
      margin-top: 25%;
    }
    .fa{
      float: right;
      margin-top: 25%;
      margin-left: 5px;
      color: white;
      text-decoration: none;
    }
  }
  .section-left-bottom{
    height: 80%;
    background: #2f3e51;
    .group-list{
      height: 100%;
      padding: 0 15px;
      color: white;
      li{
        margin-bottom: 30px;
      }
    }
  }
}

// 画面右
.section-right{
  width: 80%;
  height: 100%;
  float: right;
  .section-right-top{
    height: 20%;
  }
  .section-right-bottom{
    height: 70%;
    background: #f5f5f5;
  }
  .sent-area{
    height: 10%;
    background: #AAAAAA;
    .chat-group-form__input {
      float: left;
      width: 100%;
      line-height: 30px;

      box-sizing: border-box;

    }
  }
}
